<!-- Include Firebase SDK -->
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-firestore.js"></script>

<script>
    var firebaseConfig = {
        apiKey: "AIzaSyCvIQ2BvP5h0MHbHwlznjTc5kGfSZF_lHA",
        authDomain: "fir-authentication-55b77.firebase.app.com",
        projectId: "fir-authentication-55b77",
        storageBucket: "gs://fir-authentication-55b77.appspot.com",
        messagingSenderId: "1097882318713",
        appId: "fir-authentication-55b77"
    };

    firebase.initializeApp(firebaseConfig);
</script>
